@import "./verbose.css";
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-zinc-950 text-zinc-200 font-sans antialiased selection:bg-indigo-500 selection:text-white;
  }
}