---
import { footerLinks, siteConfig } from "@/lib/site-content";

const year = new Date().getFullYear();
---

<footer data-blueprint="Footer.astro" class="site-footer">
    <div class="site-footer__shell">
        <p>
            &copy; {year} {siteConfig.name}. All rights reserved.
        </p>
        <div class="site-footer__links">
            {
                footerLinks.map((link) => (
                    <a
                        href={link.href}
                        target={link.external ? "_blank" : undefined}
                        rel={link.external ? "noreferrer" : undefined}
                    >
                        {link.label}
                    </a>
                ))
            }
        </div>
    </div>
</footer>
