---
import Meta from "@/components/seo/Meta.astro";
import Header from "@/components/site/Header.astro";
import Footer from "@/components/site/Footer.astro";
import "../styles/global.css";
import "@fontsource/inter";
import "@fontsource/jetbrains-mono";

export interface Props {
    title: string;
    description: string;
    image?: string;
    type?: "website" | "article";
}

const { title, description, image, type } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth bg-zinc-950">
    <head>
        <Meta
            title={title}
            description={description}
            image={image}
            type={type}
        />
    </head>
    <body
        class="bg-zinc-950 text-zinc-200 antialiased font-sans selection:bg-indigo-500 selection:text-white min-h-screen flex flex-col"
    >
        <!-- Accessibility Skip Link -->
        <a
            href="#main-content"
            class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 z-50 px-4 py-2 bg-indigo-500 text-white font-medium rounded-sm ring-2 ring-white"
        >
            Skip to content
        </a>

        <Header />

        <main id="main-content" class="flex-grow w-full">
            <slot />
        </main>

        <Footer />
    </body>
</html>
